@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.feed{
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
    gap: 20px;


    .title-n-buttons{
        @include center;
        justify-content: space-between;

        .btns{
            display: flex;
            gap: 15px;

            button{
                @include btn;
                color: $bg-color-primary;
                cursor: pointer;
            }
        }
    }


    .section-finance{
        max-height: 70vh;
        overflow: auto;
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 5px;

        .fincance-box{
            width: 100%;
            @include box;
            padding: 12px 24px;
            min-height: 100px;
            justify-content: space-between;
            position: relative;
            
    
            .title-type{
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
            }
    
            .value-btn{
                h3{
                    font-size: 18px;
                    font-weight: 600;
                }

                .trash-btn{
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    @include center;
                    background-color: $bg-color-secondary;
                    padding: 3px;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }

        .nofound{
            font-size: 20px;
            align-self: center;
            margin-top: 50px;
        }
    }

    @media(max-width: 830px){
        width: 80%;
        flex: 1;
        padding-right: 0px;

        .title{
            font-size: 16px;
        }
    }

    @media(max-width: 550px){
        width: 100%;
        .title-n-buttons{
            @include center;


            .title{
                display: none;
            }
        }
    }
}